body{
  background-color:rgba(0, 0, 105,0.4);
  background-size:cover;
}
#changePage{
  position:relative;
  top:100px;
  width:300px;
  height:200px;
  font-size:22px;
  background-color: aquamarine;
  border:solid;
  border-radius: 4px;
}
#text{
  font-size: 25px;
}
#changePage a{
 color: black;
 text-decoration: none;
}
body .content{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.info{
display: flex;
padding: 10px 50px;
margin-left: 50px;
border: solid;
}
.pokemonList{
  display:flex;
}
img{
  height:100px;
  width:100px;
}
.backgroundTemplate{
  background-image: url("battle.png");
  background-size:cover;
  width:800px;
  height:500px;
}
.stadium{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pokemon1, #pokemon2{
  width:100px;
  height:160px;
}
#pokemon1{
  border:solid;
  position:absolute;
  top:500px;
  left:600px;
}
#pokemon2{
  border:solid;
  position:absolute;
  right:450px;
  top: 300px;
}
#infoTable1, #infoTable2{
  font-size:15px;
  width:190px;
  border:solid;
  border-color: black;
  background-color: white;
  border-radius: 10px;
}
#infoTable1 p, #infoTable2 p{
  margin-left:10px;
} 
#infoTable1{
  position:absolute;
  top:300px;
  left:550px;
}
#infoTable2{
  position:absolute;
  top:500px;
  left:850px;
}
.attackTemplate{
  width:765px;
  height:200px;
  border:solid;
  border-radius: 10px;
  border-color: red;
  border-width: 20px;
  background-color: darkblue;
  display:flex;
}
#console{
  color:white;
}
.attacks{
  margin:20px 20px;
}
.row1Attacks, .row2Attacks{
  margin: 30px;
}
.row1Attacks button, .row2Attacks button{
  margin: 20px;
}
