@font-face {
  font-family: "8-bit";
  src: url(font/8bit16.ttf);
 }
body{
  background-color:rgb(154, 202, 229);
  background-size:cover;
  font-family: "8-bit";
  width:800px;
  margin: 0 auto;
}
#changePage{
  position:relative;
  top:100px;
  width:300px;
  height:200px;
  font-size:22px;
  background-color: aquamarine;
  border:solid;
  border-radius: 4px;
}

#text{
  font-size: 25px;
  line-height: 25px;
}
#changePage a{
 color: black;
 text-decoration: none;
}
body .content{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.info{
display: flex;
padding: 10px 50px;
margin-left: 50px;
border: solid;
}
.attackPart{
  display:flex;
}
.pokemonList{
  display:flex;
}
img{
  height:100px;
  width:100px;
}
.backgroundTemplate{
  background-image: url("battle.png");
  background-size:cover;
  width:800px;
  height:500px;
  border: solid;
  border-width: 5px;
  border-radius: 3px;
}
.stadium{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  display: block;
  margin: 0 auto;
}
#pokemon1, #pokemon2{
  text-align: center;
  width: 300px;
  height:260px;

}
#pokemon1{
  position: absolute;
  left: 35%;
  top: 25%;
}
#pokemon1 img{
  width:180;
  height:250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  text-align:center;
}
#pokemon2 img{
  width:180;
  height:250px;
}
#AnimationFire1{
  width: 200px;
  height: 300px;
  z-index:2;
  position: absolute;
  left: 20%;
  top: -15%;
  animation: play 0.8s steps(20) infinite;
}
#AnimationWater1{
  width: 200px;
  height: 300px;
  z-index:2;
  position: absolute;
  left: 20%;
  top: -15%;
  animation: play2 0.8s steps(20) infinite;
}
#AnimationNeutral1{
  width: 200px;
  height: 300px;
  z-index:2;
  position: absolute;
  left: 20%;
  top: -15%;
  animation: play3 0.8s steps(20) infinite;
}

#AnimationFire2{
  width: 200px;
  height: 300px;
  position: absolute;
  top:10%;
  right: 30%;
  animation: play 0.8s steps(20) infinite;
}
#AnimationWater2{
  width: 200px;
  height: 300px;
  position: absolute;
  top:10%;
  right: 30%;
  animation: play2 0.8s steps(20) infinite;
}
#AnimationNeutral2{
  width: 200px;
  height: 300px;
  position: absolute;
  top:10%;
  right: 30%;
  animation: play3 0.8s steps(20) infinite;
}
@keyframes play {
   /* 100% { background-position: -606px; }  */
   0%{ background: url('images/fireAttack/fireAttack11.PNG');
    background-size: cover; 
  }
  25%{ 
    background: url('images/fireAttack/fireAttack22.PNG');
    background-size: cover;
  }
  50%{ 
    background: url('images/fireAttack/fireAttack33.PNG'); 
    background-size: cover;}
  100%{ 
    background: url('images/fireAttack/fireAttack44.PNG');
    background-size: cover; 
  }
}  
@keyframes play2 {
  /* 100% { background-position: -606px; } */
  0%{ 
    background: url('images/waterAttack/waterAttack11.png');
    background-size: cover;
  }
  25%{ 
    background: url('images/waterAttack/waterAttack22.png');
    background-size: cover;
  }
  50%{ 
    background: url('images/waterAttack/waterAttack33.png');
    background-size: cover;
  }
  100%{ 
    background: url('images/waterAttack/waterAttack44.png');
    background-size: cover;
  }
}
 @keyframes play3 {
  /* 100% { background-position: -606px; } */
   0%{ background: url('images/neutralAttack/neutralAttack11.png');
    background-size: cover; }
  25%{ background: url('images/neutralAttack/neutralAttack22.png');
    background-size: cover; }
  50%{ background: url('images/neutralAttack/neutralAttack33.png');
    background-size: cover; }
  100%{ background: url('images/neutralAttack/neutralAttack44.png');
    background-size: cover; }
} 
#pokemon2{
  position: absolute;
  top:5%;
  right: 30%;
}
.attackBTN{
  font-family: "8-bit";
  width: 150px;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}
#infoTable1, #infoTable2{
  font-size:15px;
  width:190px;
  border:solid;
  border-color: black;
  background-color: white;
  border-radius: 10px;
}
#infoTable1 p, #infoTable2 p{
  margin-left:10px;
} 
#infoTable1{
  position:absolute;
  top: 15%;
  left: 45%;
}
#infoTable2{
  position: absolute;
  left: 50%;
  top: 35%;
}
.attackTemplate{
  width:765px;
  height:200px;
  border:solid;
  border-radius: 10px;
  border-color: red;
  border-width: 20px;
  background-color: darkblue;
  /* display:flex; */
}
#console{
  color:white;
}

.row1Attacks, .row2Attacks{
  margin: 30px;
  display:flex;
}
.row1Attacks {
  margin-bottom: 0px;
}
.row2Attacks{
  margin-top: 0px;  
}
.row1Attacks button, .row2Attacks button{
  margin: 20px;
}
.youWin{
  width: 600px;
  height:200px;
  display:block;
  font-size:60px;
  margin: 0 auto;
}
.youLose{
  width: 600px;
  height:200px;
  font-size:60px;
  display:block;
  margin: 0 auto;
}
